.text-shadow-1 {
  text-shadow: 0 0 1px rgba(255, 255, 255, .8);
}

.text-shadow-2 {
  text-shadow: 0 0 1px rgba(255, 255, 255, .8);
}

.text-shadow-3 {
  text-shadow: 0 0 1px rgba(255, 255, 255, .8);
}

.hidden, .hide {
  display: none;
}
